.btn-pdf{
height: 40px;
width: 70px;
color: rgb(37, 36, 36);
background-color: rgb(182, 226, 182);
border-radius: 15px;
outline: 0 !important;
font-weight: 500;
};

.btn-show-other{
    &:hover{
        background-color: rgb(182, 226, 182);
    }
height: 40px;
width: 100%;
color: black;
background-color: rgb(216, 221, 226);
border-radius: 15px;
font-weight: 700;
outline: 0 !important;
margin-top: 15px;
};

.btn-search{
height: 40px;
width: 120px;
color: rgb(37, 36, 36);
background-color: rgb(182, 229, 182);
border-radius: 15px;
outline: 0 !important;
font-weight: 700;
margin: 10px 15px 25px;
};

